@import "bootstrap/scss/bootstrap";

a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    &:hover{
        opacity: 0.8;
    }
}

.main{
    nav{

    }
}

// CONTRACT PAGE

#contract-page{
    margin: 20px;
    margin-left: 30px;

    .contracts{
        display: flex;
        flex-direction: column;
        gap: 10px;
        a{
            color: blue;
            padding-bottom: 10px;
        }
    }

    .contract-submenu{
        display: flex;
        gap: 2px;
        margin-bottom: 30px;
        a{
            padding: 10px;
            display: inline-block;
            padding-bottom: 5px;
        }
    }
    .contract-page-wrapper{
        margin-left: 20px;
    }
    .contract-create-form{
        margin-top: 30px;
        width: 500px;
    }
}